<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


		<title>Play Page</title>

	</head>

	<body>
		<h1>
			Play Now
		</h1>

		<button id='run-script-button'>Give me cards</button>

		<div id="question-div"><span id='question-text'></span></div>

    <div id='card-div'></div>

		<div id='vote-div'></div>

		<div id='winner-div'></div>

	<script type="text/javascript" src="http://127.0.0.1:5000/static/js/handle_playstate.js"> </script>
	</body>
</html>
